body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #61dafb;
  font-size: calc(2px + 2vmin);
  text-align: left;
  width: 100%;
}

button {
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 0.6em;
  font-weight: bold;
  margin: 10px 0px;
  padding: 10px 20px;
  width: 100%;
}

button:hover {
  background-color: #45abc7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  width: 100%;
}

label {
  display: inline-block;
  font-size: 0.5em;
  margin: 10px 0px;
  text-align: left;
  color: rgb(230, 227, 227);
}

ul {
  width: 100%;
  list-style-type: square;
}

li {
  margin: 10px 0px
}

li:hover {
  background-color: #61dafb;
}

p {
  font-size: calc(5px + 2vmin);
}

textarea {
  height: 60px;
  width: 99%;
}

.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 2vmin);
  min-height: 100vh;
  color: white;
}

.comments-list {
  background-color: rgba(176, 157, 132, 0.427);
  font-size: calc(2px + 1.2vmin);
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 2px 20px;
  width: 95%;
}

.comment {
  background-color: rgba(176, 157, 132, 0.427);
  border: 1px solid #61dafb;
  border-radius: 2px;
  margin: 10px 0px;
  padding: 10px;
}

.comment-date {
  color: #61dafb;
  font-size: calc(2px + 1vmin);
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 5%;
}

.pressable:hover {
  cursor: pointer;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}
